<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://functionmsitestconnstr.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/2bc00dc3-754e-40b8-905b-93a59bb383de/resourceGroups/MSI-Test/providers/Microsoft.Web/sites/FunctionMSITestConnStr</ResourceId>
    <UserName>$FunctionMSITestConnStr</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://functionmsitestconnstr.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>